<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Number of features: <%= featuresNumber %></p>
<h2>Features table</h2>
<% if (features) { %>
    <table>
        <tr>
            <th>#</th>
            <th>osm_way_id</th>
            <th>osm_id</th>
            <th>other_tags</th>
            <th>built_year</th>
        </tr>
        <% features.forEach(function (feature, i) {
        if (i < 300){ %>
            <tr>
                <td><%= i %></td>
                <td><%= feature.properties.osm_way_id %></td>
                <td><%= feature.properties.osm_id %></td>
                <td><%= feature.properties.other_tags %></td>
                <td><%= feature.properties.built_year %></td>
            </tr>
        <% }
        }) %>
    </table>
<% } %>
</body>
</html>
