<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Number of features: <%= featuresNumber %></p>
<p>Fields: <%= fields %></p>
<p>Extent: <%= extent %></p>
<p>SRS: <%= srs %></p>
</body>
</html>
